body {
  background-image: url(http://i.imgur.com/4VgLm9E.jpg);

}

.race {
  position: relative;
    max-width: 400px;
}

#turtle {
  position: relative;


}

#jellyfish {
  position: relative;
  height: 250px;
  width: auto;

}

h1 {
  text-align: center;
  color: white;
}
